.additional-products {
  position: relative;
  color: @black;
  border: none;
  padding: 0;
}

.additional-products::after {
  content: "";
  position: absolute;
  right: 0;
  top: -13px;
  width: 100%;
  height: 2px;
  background-color: @green;
  z-index: 1;

  @media (min-width: @desktop-width) {
    top: -15px;
  }
}

.additional-products__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: @white;
  z-index: 3;

  @media (max-width: @mobile-width-only) {
    max-width: 225px;
    padding-left: 20px;
    padding-right: 15px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 30px;
    padding-left: 39px;
    padding-right: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.additional-products__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 79px;
  }
}

.additional-products__list {
  margin: 34px auto 22px auto;
  text-transform: uppercase;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: @tablet-width) {
    margin-top: 57px;
    grid-template-columns: 1fr 1fr;
    gap: 32px 123px;
    margin-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 49px;
  }
}

.additional-products__list-info {
  display: flex;
  flex-direction: column;
}

.additional-products__item {
  margin-bottom: 12px;
  position: relative;
  padding-top: 6px;
  padding-bottom: 5px;

  @media (min-width: @desktop-width) {
    padding-top: 10px;
    padding-bottom: 9px;
    margin-top: 57px;
    margin-bottom: 49px;
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__subtitle {
  text-transform: uppercase;
  color: @black-extra-light;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.additional-products__link {
  color: @white;
  background-color: @green;
  padding: 10px 109px;
}

.additional-products__item-label {
  margin-left: 48px;

  @media (min-width: @tablet-width) {
    margin-left: 66px;
  }

  &:active {
    opacity: 0.3;
  }
}

.additional-products__item-checkbox:not(:disabled) + .additional-products__item-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.additional-products__item-checkbox:checked + .additional-products__item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-active.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.additional-products__item-checkbox:disabled + .additional-products__item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-dis.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.additional-products__item-checkbox:checked:disabled + .additional-products__item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-active-dis.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}
