.additional-products {
  color: @black;
}

.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.additional-products__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 79px;
  }
}

.additional-products__list {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 32px 123px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.additional-products__list-info {
  display: flex;
  flex-direction: column;
}

.additional-products__item {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__subtitle {
  text-transform: uppercase;
  color: @black-extra-light;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.additional-products__link {
  color: @white;
  background-color: @green;
  padding: 10px 109px;
}
