.additional-products {
  position: relative;
  color: @black;
  border: none;
  padding: 0;
}

.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-products__title::after {
  content: "";
  position: absolute;
  right: -50px;
  top: 15px;
  width: 55%;
  height: 2px;
  background-color: @green;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    right: -110px;
  }
}

.additional-products__title::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    left: -50px;
    top: 15px;
    width: 5%;
    height: 2px;
    background-color: @green;
  }

  @media (min-width: @desktop-width) {
    left: -110px;
  }
}

.additional-products__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 79px;
  }
}

.additional-products__list {
  margin: 34px auto 22px auto;
  text-transform: uppercase;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: @tablet-width) {
    margin-top: 57px;
    grid-template-columns: 1fr 1fr;
    gap: 32px 123px;
    margin-bottom: 42px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 49px;
  }
}

.additional-products__list-info {
  display: flex;
  flex-direction: column;
}

.additional-products__item {
  margin-bottom: 12px;
  position: relative;
  padding-top: 6px;
  padding-bottom: 5px;

  @media (min-width: @desktop-width) {
    padding-top: 10px;
    padding-bottom: 9px;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__subtitle {
  text-transform: uppercase;
  color: @black-extra-light;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.additional-products__link {
  color: @white;
  background-color: @green;
  padding: 10px 109px;
}

.additional-products__item-label {
  margin-left: 48px;

  @media (min-width: @tablet-width) {
    margin-left: 66px;
  }

  &:active {
    opacity: 0.3;
  }
}

.additional-products__item-checkbox:not(:disabled) + .additional-products__item-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.additional-products__item-checkbox:checked + .additional-products__item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-active.svg");
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.additional-products__item-checkbox:disabled + .additional-products__item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-dis.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.additional-products__item-checkbox:checked:disabled + .additional-products__item-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("../img/checkbox-active-dis.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}
