.contacts {
  padding: 28px 0 18px 19px;
  background-color: @white;
}

.contacts__welcome {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @black-light;
  font-size: 16px;
  line-height: 18px;
}

.contacts__address {
  line-height: 20px;
}
