.contacts-owner {
  position: relative;
  margin-bottom: 23px;
  border: none;
}

.contacts-owner__title {
  color: @black;
  font-size: 24px;
  line-height: 26px;
}

.contacts-owner__title::after {
  content: "";
  position: absolute;
  right: -50px;
  top: 15px;
  width: 40%;
  height: 2px;
  background-color: @green;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    right: -110px;
  }
}

.contacts-owner__title::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    left: -50px;
    top: 15px;
    width: 7%;
    height: 2px;
    background-color: @green;
  }

  @media (min-width: @desktop-width) {
    left: -110px;
  }
}

.contacts-owner__list {
  margin-top: 35px;
  padding: 0;
  list-style: none;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.contacts-owner__item {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 14px;
}

.contacts-owner__item-mail {
  width: 50px;
  margin-right: 11px;
  padding-top: 13px;
}

.contacts-owner__item-phone {
  width: 68px;
  margin-right: 8px;
  padding-top: 13px;
}

.contacts-owner__item-mail-owner,
.contacts-owner__item-phone-number {
  padding: 13px 0 13px 15px;
  border: 1px solid @silver-light-white;
}

.contacts-owner__icon-mail,
.contacts-owner__icon-phone {
  position: absolute;
  content: "";
  top: 16px;
  right: 15px;
  border: none;
  background-color: @white;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
}

.contacts-owner__icon-mail {
  background-image: url("../img/mail.svg");
  height: 14px;
}

.contacts-owner__icon-phone {
  background-image: url("../img/phone.svg");
  height: 20px;
}
