.contacts {
  background-color: @white;
  margin-bottom: -4px;
}

.contacts-form {
  background-color: @grey-light-white;

  @media (min-width: @desktop-width) {
    background-color: @white;
  }
}

.contacts__wrap {
  position: relative;
}

.contacts__container {
  padding-top: 28px;
  display: flex;
  justify-content: start;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    padding: 68px 40px 50px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 70px 82px 51px 76px;
    position: absolute;
    top: 95px;
    background-color: @white;
  }
}

.contacts__wrapper {
  background-color: @grey-light;
}

.contacts__welcome {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @black-light;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    width: 170px;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__address {
  line-height: 20px;
  margin-left: 18px;
  font-family: "Arial", sans-serif;
  font-style: normal;

  @media (min-width: @tablet-width) {
    width: 158px;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    margin-left: 81px;
  }
}

.contacts__card {
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
