.contacts-owner {
  margin-bottom: 23px;
}

.contacts-owner__title {
  color: @black;
  font-size: 24px;
  line-height: 26px;
}

.contacts-owner__list {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
