.form-info {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.form-info__list {
  margin-bottom: 49px;
  padding: 0;
  list-style: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }
}

.form-info__item {
  display: grid;
  grid-template-columns: min-content 1fr;
}
