.form-choice__submit {
  margin-bottom: 21px;
  padding: 7px 44px;
  color: @white;
  background-color: @green;
}

.form-choice__submit-note {
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: @black;
}
