.gift {
  background-color: @green;
  background-image: url("../img/cat-green-gift.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gift__link {
  display: block;
  text-align: center;
  color: @white;
  font-size: 16px;
  line-height: 20px;
  padding: 186px 61px 43px 58px;

  @media (min-width: @desktop-width) {
    padding: 184px 43px 42px 41px;
  }
}
