.gift {
  background-color: @green;
  background-image: url("../img/cat-green-gift.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-green-gift@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    display: flex;
    margin-bottom: 76px;
    background-image: url("../img/cat-green-gift-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-green-gift-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    background-image: url("../img/cat-green-gift-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cat-green-gift-desktop@2x.jpg");
    }
  }
}

.gift__box {
  display: block;
  margin: 58px auto 0 auto;
}

.gift__link {
  display: block;
  text-align: center;
  color: @white;
  font-size: 16px;
  line-height: 20px;
  max-width: 161px;
  margin: 48px auto 43px auto;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}
