.mechanisms {
  padding-bottom: 42px;
}

.mechanisms__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @black;
  font-size: 36px;
  line-height: 40px;
}

.mechanisms__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 153px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
