.page-footer__container {
  background-color: @grey-light;
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.author {
  font-size: 16px;
}
