.page-header {
  position: relative;
  background-color: transparent;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.page-header-catalog {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @silver;
  }
}

.page-header-index {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 1220px;
  }
}

.page-header__logo-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 12px 0 14px 0;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-top: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
  }
}

.page-header__logo-image {
  margin-right: auto;
  width: 33px;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 60px;
  }

  @media (min-width: @desktop-width) {
    width: 70px;
  }
}

.page-header__logo-name {
  padding: 12px 0 7px 0;
  width: 101px;
  height: 18px;

  @media (min-width: @tablet-width) {
    margin-left: 12px;
    padding-top: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 14px;
    padding-top: 22px;
  }
}

.page-header__logo-label {
  text-align: center;
}
