.page-footer__container {
  margin-top: -7px;
  background-color: @grey-transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    background-color: @grey-transparent;
  }
}

.social {
  margin: 0;
  padding: 20px 0 16px 0;
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 25px 0 16px 25px;
  }

  @media (min-width: @desktop-width) {
    padding: 33px 0 16px 31px;
  }
}

.social__item-link {
  &:hover {
    path {
      fill: @green;
    }
  }

  &:active {
    path {
      fill: @green-light;
      stroke: @green-light;
    }
  }
}

@media (min-width: @tablet-width) {
  .social__item-link-vk {
    width: 30px;
    height: 22px;
  }

  .social__item-link-inst {
    width: 23px;
    height: 23px;
  }

  .social__item-link-face {
    width: 28px;
    height: 33px;
  }
}

.social__item-link:last-child {
  &:hover {
    path {
      fill: @white;
      stroke: @green;
    }
  }

  &:active {
    path {
      fill: @white;
      stroke: @green-light;
    }
  }
}

.author {
  font-size: 16px;

  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }

  &:hover {
    color: @green;
  }

  &:active {
    color: @green-light;
  }
}

.page-footer__logo-label {
  display: block;
  padding-bottom: 28px;
  text-align: center;
  margin-top: 37px;

  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @grey;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    margin-top: 54px;
    padding-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 57px;
  }
}

.page-footer__copyright {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @grey;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    padding-top: 27px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 34px;
  }
}

.page-footer__copyright-html {
  &:hover {
    path {
      fill: @green;
    }
  }

  &:active {
    path {
      fill: @green-light;
    }
  }
}
