.page-header {
  position: relative;
  background-color: transparent;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header-index {
    position: absolute;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
  }
}

.page-header__logo-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.page-header__logo-image {
  margin-right: auto;
  width: 33px;
  height: 37px;
}

.page-header__logo-name {
  width: 101px;
  height: 18px;
}
