.products__list {
  list-style: none;
}

.products__title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @black-extra-light;
  font-size: 16px;
  line-height: 20px;
}

.products__link {
  text-transform: uppercase;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @white;
  font-size: 16px;
  line-height: 20px;
  background-color: @green;
}

.products__title-all {
  margin-top: 89px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @black-light;
  font-size: 16px;
  line-height: 20px;
}

.products__subtitle-all {
  text-align: center;
  margin-bottom: 21px;
}

.products__link--show {
  padding: 10px 94px;
  background-color: @grey-light;
  color: @grey-dark;
}
