.products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 140px 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 144px 80px;
    margin-bottom: 76px;
  }
}

@media (max-width: @mobile-width-only) {
  .products__wrapper {
    display: grid;
    grid-template-columns: 140px 1fr;
  }
}

.products__item {
  position: relative;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @white-dark;
    margin-left: -20px;
    margin-right: -20px;
    display: block;
    padding: 5px 18px 30px 20px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 150px;
    background-color: @grey-light-white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.products__item:last-child {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @white-dark;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    background-color: @white;
    border: 1px solid @grey-light-white;
  }
}

.products__img {
  margin-top: 25%;
  margin-left: 15%;

  @media (min-width: @tablet-width) {
    margin: 0;
    position: absolute;
    bottom: 300px;
    left: 30%;
    width: 163px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    bottom: 310px;
    left: 18%;
  }
}

.products__title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @black-extra-light;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: @mobile-width-only) {
    margin-right: 60px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 154px;
    margin-right: auto;
    margin-left: auto;
  }
}

.products__link {
  display: block;
  text-transform: uppercase;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @white;
  font-size: 16px;
  line-height: 20px;
  background-color: @green;

  @media (min-width: @tablet-width) {
    margin: 0 37px 40px 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
  }

  &--show {
    display: block;
    padding: 10px 94px;
    background-color: @grey-light-white;
    color: @grey-dark;

    @media (min-width: @tablet-width) {
      padding: 8px 79px;
    }

    @media (min-width: @desktop-width) {
      padding: 10px 30px;
    }
  }
}

.products__title-all {
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: @black-light;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    max-width: 134px;
    font-size: 20px;
    line-height: 22px;
    margin: 49px auto 23px auto;
  }
}

.products__subtitle-all {
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    max-width: 167px;
    margin: 0 auto 87px auto;
  }
}

.products__plus {
  display: block;
  margin: 20px auto 0 auto;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: auto;
    margin: 52px auto 0 auto;
  }
}
