@media (min-width: @desktop-width) {
  .programs {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 110px;
  }
}

.programs__list {
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.programs__item {
  padding: 5px 33px 18px 20px;
  margin-bottom: 20px;
  list-style: none;
  background-color: @grey-light;

  @media (min-width: @desktop-width) {
    width: 570px;
    margin-right: 80px;
  }
}

@media (min-width: @desktop-width) {
  .programs__item:last-child {
    margin-right: 0;
  }
}

.programs__item-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: @black;
}

.programs__item-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @black;
  text-decoration: none;
}
