.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    width: 440px;
    justify-content: space-between;
    margin-top: 42px;
    margin-left: auto;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
  }
}

.site-list__item {
  margin-left: -20px;
  margin-right: -20px;
  display: block;
  padding: 22px 70px;
  border-top: 1px solid @silver-extra-light;

  &:hover {
    color: @black-semi-transparent;
  }

  &:active {
    color: @black-transparent;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    border: none;
    padding: 0;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 30px;
        height: 2px;
        background: @green;
      }
    }
  }
}

.site-list__item-form {
  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @silver-extra-light;
  }
}

.site-list__item--active {
  color: @black;
}

@media (min-width: @desktop-width) {
  .site-list__item-index {
    color: @white;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        top: 30px;
        height: 2px;
        background: @white;
      }
    }

    &:hover {
      color: @white-semi-transparent;
    }

    &:active {
      color: @white-transparent;
    }
  }
}
