@white: #FFFFFF;
@green: #68B738;
@grey-light: #F2F2F2;
@black: #000000;
@black-light: #111111;
@black-extra-light: #222222;
@grey-dark: #444444;
@grey: #D9D9D9;
@silver: #EAEAEA;
@silver-light: #C4C4C4;
@silver-extra-light: #E6E6E6;
@silver-dark: #666666;
